@use '../src/scss/variables' as *;
@use '../src/scss/colors' as *;

.c-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  @media screen and (min-width: $breakpoint-screen-sm) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media screen and (min-width: $breakpoint-screen-xl) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media screen and (min-width: $breakpoint-screen-2xl) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  @media screen and (min-width: $breakpoint-screen-3xl) {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  @media screen and (min-width: $breakpoint-screen-4xl) {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

::selection {
  background-color: $color-ronchi-100;
  color: $color-woodsmoke-500;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
