$color-white: #ffffff;

$color-woodsmoke-default: #161618;
$color-woodsmoke-50: #6e6e78;
$color-woodsmoke-300: #3d3d43;
$color-woodsmoke-500: #161618;
$color-woodsmoke-900: #0c0c0d;

$color-ronchi-default: #161618;
$color-woodsmoke-50: #f7f7f8;
$color-woodsmoke-100: #eeeef0;
$color-woodsmoke-200: #dadadd;
$color-woodsmoke-300: #b9bac0;
$color-woodsmoke-400: #93949d;
$color-woodsmoke-500: #767781;
$color-woodsmoke-600: #5f5f6a;
$color-woodsmoke-700: #4e4e56;
$color-woodsmoke-800: #434349;
$color-woodsmoke-900: #3a3a40;
$color-woodsmoke-950: #161618;

$color-ronchi-default: #f0b82f;
$color-ronchi-50: #fefaec;
$color-ronchi-100: #fbf0ca;
$color-ronchi-200: #f7e190;
$color-ronchi-300: #f2c94c;
$color-ronchi-400: #f0b82f;
$color-ronchi-500: #e99817;
$color-ronchi-600: #ce7411;
$color-ronchi-700: #ab5212;
$color-ronchi-800: #8b4115;
$color-ronchi-900: #723615;
$color-ronchi-950: #421a06;
