@use "sass:list";
@use "sass:map";
@use "sass:string";

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($str, $search, $replace: "") {
  $index: string.index($str, $search);

  @if $index {
    @return string.slice($str, 1, $index - 1) + $replace +
      str-replace(string.slice($str, $index + string.length($search)), $search, $replace);
  }

  @return $str;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_"),
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype",
  );

  @each $ext in $exts {
    $extmod: if(map.has-key($extmods, $ext), $ext + map.get($extmods, $ext), $ext);
    $format: if(map.has-key($formats, $ext), map.get($formats, $ext), $ext);
    $src: list.append($src, url($path + "." + $extmod) format($format), comma);
  }

  @font-face {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}
