@use 'mixins';

@include mixins.font-face("Satoshi", "fonts/Satoshi/Satoshi-Regular", 400, normal, woff2 woff);
@include mixins.font-face("Satoshi", "fonts/Satoshi/Satoshi-Medium", 500, normal, woff2 woff);
@include mixins.font-face("Satoshi", "fonts/Satoshi/Satoshi-Bold", 700, normal, woff2 woff);
