$color-white: #ffffff;

$color-woodsmoke-default: #161618;
$color-woodsmoke-50: #6E6E78;
$color-woodsmoke-300: #3D3D43;
$color-woodsmoke-500: #161618;
$color-woodsmoke-900: #0C0C0D;

// Iron
$color-iron-default: #E7E7E8;
$color-iron-50: #FFFFFF;
$color-iron-100: #FCFCFC;
$color-iron-200: #E7E7E8;
$color-iron-300: #CACACD;
$color-iron-400: #AEAEB1;
$color-iron-500: #919196;
$color-iron-600: #75757A;
$color-iron-700: #59595D;
$color-iron-800: #3E3E41;
$color-iron-900: #222224;
$color-iron-950: #151516