@use 'mixin';

@include mixin.font-face("Satoshi", /fonts/Satoshi/Satoshi-Regular, 400, normal, woff2 woff);
@include mixin.font-face("Satoshi", /fonts/Satoshi/Satoshi-Medium, 500, normal, woff2 woff);
@include mixin.font-face("Satoshi", /fonts/Satoshi/Satoshi-Bold, 700, normal, woff2 woff);