@use 'fonts';
@use 'general';
@use 'animations';
@use 'variables' as *;
@use 'colors' as *;

#app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: $color-woodsmoke-950;
  background-color: $color-white;
  overflow: hidden;
}